{% extends "base.html" %}
{% block content %}
<div class="file-upload">
    <h2>File Upload and Transcription</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file() }}
        <div class="w-fit">
        {{ form.submit() }}
        </div>
    </form>
</div>

{% if transcription %}
<div class="transcription-result">
    <h3>Transcription Result:</h3>
    <table>
        <thead >
            <tr>
                <th class="w-fit">Timestamp</th>
                <th>Transcription</th>
            </tr>
        </thead>
        <tbody>
            {% for segment in transcription %}
            <tr>
                <td class="w-48 font-mono text-sm">{{ segment.timestamp }}</td>
                <td>{{ segment.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}